<div class="container">

  <h2 class="text-center mt-2">Daily Check-In</h2>
  <div class="row">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
  <ng-template *ngIf="addictionName.length > 0 ; else noAddictions">
    <form [formGroup]="checkinForm" (ngSubmit)="registerCheckIn()">
      <label for="addiction">Select Your Addiction:</label>
      <select class="form-select" formControlName="addiction" id="addiction">
        <option value="">Choose Your Addiction</option>
        <option *ngFor="let addiction of addictions" [value]="addiction.name">
          {{ addiction.name }}
        </option>
      </select>

      <!-- Radio Buttons for Yes/No -->
      <div class="form-check">
        <input class="form-check-input" type="radio" id="yes" [value]="true" formControlName="checkinStatus">
        <label class="form-check-label" for="yes">Yes</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" id="no" [value]="false" formControlName="checkinStatus">
        <label class="form-check-label" for="no">No</label>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    <div *ngIf="checkInStatus">
      <p>Check in added for {{ checkInStatus.addictionName }} </p>
      <p>Your Current Streak: {{ checkInStatus.currentStreak }}</p>
    </div>
  </ng-template>
  <ng-template #noAddictions>
    <p class="text-muted mb-4">For the moment you have no addictions</p>
  </ng-template>

</div>
