<!-- Footer -->
<footer
  class="text-center text-lg-start text-white"
  style="background-color: #1c2331"

>
  <section
    class="d-flex justify-content-between p-4"
    style="background-color: #6351ce"
  >
    <div class="me-5">
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Relief :  A new way to save yourself</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #7c4dff; height: 2px"
          />
          <p>
            Relief is a free web application designed to help individuals struggling with addiction. It provides a platform for users to track their progress, identify triggers, and stay motivated on their journey to recovery.
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Useful links</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #7c4dff; height: 2px"
          />
          <p>
            <a href="/dashboard" class="text-white">Your Account</a>
          </p>
          <p>
            <a href="#!" class="text-white">How it works</a>
          </p>
          <p>
            <a href="mailto:mohammadalibashiri5@yahoo.com" class="text-white">Report a bug</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #7c4dff; height: 2px"
          />
          <p><a target="_blank" href="mailto:mohammadalibashiri5@yahoo.com" class="text-white"><i class="bi bi-envelope-fill"></i></a> Write me an email</p>
          <p><a target="_blank" href="https://t.me/thegreatkingb0y" class="text-white"><i class="bi bi-telegram"></i></a> Send me a short message</p>
          <p><a target="_blank" href="https://fr.linkedin.com/in/mohammad-ali-bashiri-87719191" class="text-white"><i class="bi bi-linkedin"></i></a> Visit my profile in linkedin</p>

        </div>
      </div>
    </div>
  </section>

  <div
    class="text-center p-3"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    © {{ currentYear }} Copyright:
    <a class="text-white" href="mailto::mohammadalibashiri5@yahoo.com"
    >Mohammad Ali Bashiri</a
    >
  </div>
</footer>
