<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/relief-logo.webp" alt="Relief Logo" class="logo" style="height: 40px;">
      <span class="ms-2 fw-bold">Relief</span>
    </a>

    <ul class="navbar-nav mx-auto">
      <!-- Admin links -->
      <ng-container *ngIf="isAdmin()">
        <app-admin-navbar></app-admin-navbar>
      </ng-container>
      <!-- User links -->
      <ng-container *ngIf="isUser()">
        <app-user-navbar></app-user-navbar>
      </ng-container>
      <!-- Common links -->
      <ng-container *ngIf="!isAuthenticated()">
        <ng-container *ngFor="let link of commonLinks">
          <li class="nav-item mx-2">
            <a class="nav-link"
               [routerLink]="link.url"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: link.exact || false}">
              <i *ngIf="link.icon" class="bi {{link.icon}} me-1"></i>
              {{ link.name }}
            </a>
          </li>
        </ng-container>

        <a class="btn btn-outline-light me-2" routerLink="/register">
          <i class="bi bi-person-plus me-1"></i>
          <span class="d-none d-md-inline">Register</span>
        </a>
        <a class="btn btn-light" routerLink="/login">
          <i class="bi bi-box-arrow-in-right me-1"></i>
          <span class="d-none d-md-inline">Login</span>
        </a>
      </ng-container>


    </ul>
  </div>
</nav>
