<nav class="navbar navbar-expand-lg nav-color" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand" href="#"><img class="logo" src="assets/relief-logo.webp" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse nav-color navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngFor="let link of links" class="nav-item">
          <a class="nav-link" href="{{ link.url }}">{{ link.name }}</a>
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <a href="/register" *ngIf="isNotLoggedIn()">
        <i class="bi bi-person-fill-add profile reg"></i>
      </a>
      <a href="/login" *ngIf="isNotLoggedIn()">
        <i class="bi bi-person-fill-down profile"></i>
      </a>
      <a *ngIf="!isNotLoggedIn()" href="/dashboard">
        <i class="bi bi-person-fill-check profile"> </i> {{ user.name}}
      </a>
    </div>
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-translate profile"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">English</a></li>
        <li><a class="dropdown-item" href="#">French</a></li>
        <li><a class="dropdown-item" href="#">Persian</a></li>
      </ul>
    </div>
  </div>
</nav>
