<div class="unauthorized-container">
  <div class="unauthorized-content">
    <div class="illustration">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="#ff5252" d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm0 319.91a20 20 0 1 1 20-20 20 20 0 0 1-20 20zm21.72-201.15l-5.74 122a16 16 0 0 1-32 0l-5.74-121.94v-.06a21.74 21.74 0 1 1 43.44 0z"/>
      </svg>
    </div>
    <h1>Access Denied</h1>
    <p class="message">You don't have permission to view this page.</p>
    <p class="sub-message">Please contact the administrator if you believe this is an error.</p>
    <button class="home-button" (click)="goHome()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill="none" d="M0 0h24v24H0z"/>
        <path d="M19 21H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9a1 1 0 0 1-1 1zM6 19h12V9.157l-6-5.454-6 5.454V19z" fill="currentColor"/>
      </svg>
      Return Home
    </button>
  </div>
</div>
