<div class="container-fluid">
  <div class="row mt-2">
    <h1 class="text-center">Break Free. Build a Better You.</h1>
    <h2 class="text-center fst-italic">Identify triggers<span><img class="trigger" src="assets/trigger.png"
                                                                   alt="trigger"></span>, track progress<span><img
      class="trigger" src="assets/progress-bar.png" alt="progress"></span>, and stay motivated <span><img
      class="trigger" src="assets/motivation.png" alt="progress"></span> on your journey to overcoming addiction.</h2>
  </div>
</div>
<div class="container-fluid mt-3">
  <div class="row justify-content-around">
    <div class="card" style="width: 25rem;">
      <img src="assets/woman-think.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Trigger Tracking</h5>
        <p class="card-text">Identify and log situations that lead to cravings.
          Spot patterns to help avoid relapse.</p>
      </div>
    </div>
    <div class="card" style="width: 25rem;">
      <img src="assets/experience.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Experience Journal</h5>
        <p class="card-text">Record personal thoughts and past setbacks.
          Reflect on experiences to stay mindful and motivated.</p>
      </div>
    </div>
    <div class="card" style="width: 25rem;">
      <img src="assets/reward.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Streaks & Rewards</h5>
        <p class="card-text">Track your progress with daily streaks.
          Unlock rewards and celebrate milestones.</p>
      </div>
    </div>
    <div class="card" style="width: 25rem;">
      <img src="assets/progress.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Progress Dashboard</h5>
        <p class="card-text">Visualize your growth and achievements.
          Monitor goals, streaks, and triggers in one place.</p>
      </div>
    </div>
  </div>
</div>
<div class="container text-center mt-3">
  <div class="row">
    <div class="row mt-2">
      <h3 class="text-black-40 text-center">It's 100% free</h3>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary">Sign Up</button>
    </div>
  </div>
</div>
