<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <div class="row">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 position-relative">
        <label for="password">Password</label>
        <div class="input-group">
          <input [type]="passwordFieldType" class="form-control" id="password" autocomplete="current-password" formControlName="password" placeholder="Password">
          <span class="input-group-text">
        <i [class]="passwordIconClass" (click)="togglePasswordVisibility()" style="cursor: pointer;"></i>
      </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember Me :)</label>
        </div>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-3 m-2">
        <p>Not a member? No worries <a href="/register">Sign up</a></p>
      </div>
      <div class="col-1 m-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
