@import 'ngx-toastr/toastr';

.card {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
.btn-light-blue {
  background-color: #7c4dff;
  color: white;
}
.btn-light-blue:hover {
  background-color: #5e35b1;
}
