<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold">🧠 Addiction Center</h2>
    <button class="btn btn-light-blue" (click)="openAddModal()">
      + Add New Addiction
    </button>
  </div>


<!-- Modal for Adding/Editing Addiction -->
<app-modal
  [isOpen]="showModal"
  [title]="modalTitle"
  [showCloseButton]="true"
  (closed)="closeModal()"
>
  <div class="modal-body">
    <form (ngSubmit)="isEditMode ? updateAddiction() : createAddiction()" [formGroup]="addictionForm">
      <!-- Name Field -->
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input formControlName="name" type="text" class="form-control" id="name" placeholder="Enter addiction name">
        <div *ngIf="addictionForm.get('name')?.invalid && addictionForm.get('name')?.touched" class="text-danger">
          Name is required
        </div>
      </div>

      <!-- Description Field -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          formControlName="description"
          class="form-control"
          id="description"
          rows="3"
          placeholder="Enter addiction description"
        ></textarea>
        <div *ngIf="addictionForm.get('description')?.invalid && addictionForm.get('description')?.touched" class="text-danger">
          Description is required
        </div>
      </div>

      <!-- Severity Level Field -->
      <div class="mb-3">
        <label for="severity" class="form-label">Severity Level</label>
        <select class="form-select" id="severity" formControlName="severityLevel">
          <option value="" disabled>Select severity level</option>
          <option *ngFor="let level of severityLevels" [value]="level">{{ level }}</option>
        </select>
        <div *ngIf="addictionForm.get('severityLevel')?.invalid && addictionForm.get('severityLevel')?.touched" class="text-danger">
          Severity level is required.
        </div>
      </div>

      <!-- Year of Addiction Field -->
      <div class="mb-3">
        <label for="yearOfAddiction" class="form-label">Year of Addiction</label>
        <input formControlName="yearOfAddiction" min="0" type="number" class="form-control" id="yearOfAddiction" placeholder="Enter year of addiction">
        <div *ngIf="addictionForm.get('yearOfAddiction')?.invalid && addictionForm.get('yearOfAddiction')?.touched" class="text-danger">
          Valid number of year is required
        </div>
      </div>

      <!-- Submit Button -->
      <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]="addictionForm.invalid">
          {{ isEditMode ? 'Update Addiction' : 'Register Addiction' }}
        </button>
      </div>
    </form>
  </div>
</app-modal>
